.mainContainer{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.innerContainer{
    display:none;
    margin: 2vw;
}

.activeInnerContainer{
    display:flex;
}

