@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 10vh; */
  padding-top: 10vh;
}

.innerContainer {
  display: none;
  margin: 2vw;
}

.activeInnerContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

/* style da busca */
.searchContainer{
  width: 100vw;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.searchBar{
  background-color: rgba(128, 128, 128, 0.349);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  margin: auto;
  border-radius: 30px;
}
.searchForm{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 92%;
}

#typeSearch{
  width: 20%;
  display: block;
  height: 2rem;
  align-self: flex-start;
  
}

.searchCategory{
  display: flex;
  width: 60%;
  height: 2rem;
  margin-left: 2rem;
  border-radius: 20px;
}

.searchKeyWord{
  display: flex;
  width: 60%;
  height: 2rem;
  margin-left: 2rem;
  border-radius: 20px;
}

.searchKeyWordHide,
.searchCategoryHide {
  display: none;
}

#iconeBusca{
  cursor: pointer;
}
