@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');
 
.popUpContainer{
    background-color: rgba(0,0,0,.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
}
.mainContainer{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
}
 
.show {
  display: flex;
}
 
.hide {
  display: none;
}
 
.infoPopUp {
  background-color: #F1F1F1;
  display: flex;
  justify-content: space-between;
  width: 60%;
  min-width: 300px;
  max-width: 800px;
  padding: 4%;
}
 
.storeInfo {
  height: 100%;
  margin-right: 3%;
}
 
.storeInfo h2 {
  font-size: 3rem;
  font-weight: bolder;
}
 
.storeInfo h3 {
  margin-top: 3%;
  margin-bottom: 2%;
  font-size: 1.2rem;
  color: darkgoldenrod;
}
 
.storeInfo p {
  color: #484D52;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: -0.5%;
}
 
.divButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-left: 3%;
  width: 13%;
}
 
#boxclose {
  position: relative;
}
 
#close {
    /* ARRUMAR O CSS DESSE NEGOCIO */
    padding: 4px;
    width: 30px;
    font-weight: bolder;
    background-color: lightgray;
    color: #484D52;
    border-radius: 5px;
    border: none;
    cursor: pointer;
 
    position: absolute;
    top: 0px;
    right: 0px;
 
}
 
#edit {
  width: 100%;
  height: 4vh;
  padding: 4px 7px;
  font-weight: bolder;
  background-color:#189AB4;
  color: #F1F1F1;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
 
 
/* ver como colocar o hover no click :)  */
#edit :hover {
    color: burlywood;
    background-color: aliceblue;
}
 
 
 
 
.formPopUp {
  background-color: #F1F1F1;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  min-width: 300px;
  max-width: 800px;
  padding: 4%;
  position: relative;
}
 
#divClose {
  position: absolute;
  top: 20px;
  right: 20px;
}
 
.formPopUp form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 0;
 
}

.formPopUp form input,
form select {
  font-size: 15px;
  margin: 10px 0;
  height: 5vh;
  border-radius: 1.3rem;
  border: none;
  padding-left: 20px;
}
 
.formPopUp form textarea {
  font-size: 15px;
  font-family: sans-serif;
  margin: 10px 0;
  height: 7vh;
  border-radius: 1.3rem;
  border: none;
  padding-top: 10px;
  padding-left: 20px;
}
 
#form {
  width: 100%;
  display: flex;
}
 
#divSave {
    width: 80%;
    height: 5vh;
    margin-bottom: 2%;
}
 
#save {
    font-size: 15px;
    height: 38px;
    border-radius:20px;
    border: none;
    background-color: darkcyan;
    color: white;
    width: 100%;
}
 
.saveMessage{
  display: none;
  align-self: center;
  color: lightseagreen;
  font-family: 'Segoe UI', Tahoma;
  font-size: 0.9rem;
  font-weight: 500;
}
 
.innerContainer{
    display:none;
    margin: 2vw;
}
 
.activeInnerContainer{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
 
footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(3, 179, 179);
  height: auto;
  text-align: center;
}
 
#footer-title {
  color: azure;
  font-size: 22px;
  font-weight: 700;
  padding-top: 2vh;
  margin: 0;
}
 
#footer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
  /*display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;*/
 
  list-style-type: none;
  text-align: center;
  align-items:center;
  justify-content:center;
  padding-left: 0;
  /* margin: 5px 30px; */
  color: azure;
  box-sizing: border-box;
 
 
 
  overflow: hidden;
  height: 100%;
  margin-bottom: 10px;
 
  position: relative;
}
 
.list-item {
  height: fit-content;
  box-sizing: border-box;
  padding: 0 10px;
}
 
 
div.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 200px;
  padding: 20px;
  text-align: center;
  background: #e8e8e8;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

div.notification-error {
  color: #a14343;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

div.notification-success {
  color: #43a143;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

div.notification-info {
  color: #43a143;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}
 
